.bubble a, .bubble p {
	color: white;
	text-decoration: none;
	transition: all .3s ease-in;
}
.bubble p:hover {
	color: #62e4c8;
}
.bubble h3 {
	color: #F2309B;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 6px;
}
.bubble {
	width: 24%;
	text-align: center;
	margin-bottom: 40px;
	margin-right: 8px;
}
.eight-bubbles {
	max-width: 1200px;
	margin: 60px auto;
	display: flex;
	flex-wrap: wrap;
	padding-top: 50px;
	padding-bottom: 70px;
}
@media only screen and (max-width: 834px) {
	.bubble h3 {
		font-size: 28px;
		padding-bottom: 10px;
	}
	.bubble {
		width: 48%;
		padding: 0;
		margin: 5px;
	}
}
@media only screen and (max-width: 768px) {
	.eight-bubbles {
		padding: 0;
		margin: 0;
		margin-top: -70px;
	}
	.bubble {
		width: 48%;
		margin: 20px auto;
	}
}
@media only screen and (max-width: 480px) {
	.bubble {
		width: 90%;
	}
}