.footer {
	display: flex;
	border: 1px solid black;
	background-color: #000;
}
.footer-wrapper {
	width: 1200px;
	margin: 0 auto;
	display: flex;
}
.footer .footer-wrapper h4, .footer .footer-wrapper p {
	color: white;
}
.footer .footer-wrapper p {
	font-weight: 200;
	color: #F2309B;
} 
.footer .footer-wrapper h4 {
	font-size: 30px;
}
.footer .sect {
	display: flex;
	flex: 1;
	margin: 20px;
	align-items: center;
}
.footer .sect-middle {
	flex: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.footer .sect-right {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.footer .sect .info-wrapper {
	margin-left: 10px;
	margin-top: 10px;
}
.footer .sect img {
	border: 2px solid #F2309B;
	padding: 4px;
	border-radius: 10px;
	width: 120px;
	height: 120px;
	display: block;
}
.footer .sect-right img {
	display: block;
	height: 150px;
}
.footer .sect-middle .top-menu {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.footer .sect-middle .top-menu a {
	text-decoration: none;
	margin: 0 20px;
}
.footer .sect-middle .top-menu .menu-item p {
	color: white;
	font-size: 40px;
	opacity: .7;
	transition: all .3s ease;
}
.footer .sect-middle .top-menu .menu-item:hover p {
	opacity: 1;
	cursor:pointer;
}
.footer .sect-middle .social-icons {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.footer .sect-middle .social-icons .icon {
	margin: 8px;
}
.footer .sect-middle .social-icons .icon i {
	color: white;
	font-size: 30px;
	opacity: .3;
	transition: all .3s ease;
}
.footer .sect-middle .social-icons .icon:hover i {
	opacity: .8;
	cursor: pointer;
}
@media only screen and (max-width: 550px) {
	.footer-wrapper {
		flex-direction: column;
		align-items:center;
		justify-content: center;
	}
	.footer .sect, .footer .sect-right {
		flex: 1;
	}
	.footer .sect-right {
		width: 100%;
	}
	.footer .sect-right img {
		width: 100%;
		height: auto;
	}
	.footer .sect {
		padding-top: 40px;
	}
}
