.form-left fieldset {
	border: none;
}
.form-left legend {
	display: flex;
	flex-direction: column;	
}
.form-left legend input, .form-left legend textarea {
	margin-bottom: 8px;
}
.form-left legend textarea {
	height: 80px;
	padding: 8px;
	border-radius: 10px;
}
.form-left legend input {
	height: 20px;
	padding: 8px;
	border-radius: 10px;
}
.form-left h3 {
	color: white;
	font-size: 30px;
}
.form-left {
	display: flex;
	max-width: 1200px;
	margin: 200px auto;
	position: relative;
	justify-content: center;
}
.form-left .form-wrapper {
	flex: 1;
	padding: 80px 30px;
	background-image: url('../images/texture-pink-squared-alt.png');
	border-radius: 15px;
	max-width: 400px;
}
.form-left .form-wrapper h2 {
	margin-left: 20px;
	font-size: 36px;
	color: white;
	margin-bottom: 15px;
}
.form-left .cta-wrapper {
	padding-left: 30px;
	padding-top: 70px;
}
.form-left .cta-wrapper h2 {
	font-size: 36px;
	font-weight: 900;
	max-width: 500px;
	margin: 10px 0;
	margin-bottom: 20px;
	line-height: 1;
	color: #F2309B;
}
.form-left .cta-wrapper p {
	max-width: 500px;
	text-decoration: none;
}
.form-left .cta-wrapper a {
	text-decoration: none;
}
.form-left .form-wrapper button {
	color: #792855;
	font-weight: 800;
	padding: 10px;
	transition: all .3s ease;
	border-radius: 10px;
}
.form-left .form-wrapper button:hover {
	background: transparent;
	color: white;
}
.btns-wrapper {
	display: flex;
	margin-top: 20px;
}

.btn {
	margin-right: 30px;
	padding: 12px 48px;
	border-radius: 9px;
	width: 150px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 4s ease;
	position: relative;
	z-index: 1;
	border-radius: 10px;
	width: 120px;
	background: linear-gradient(135deg, #D25796, #8FADB5);
	box-shadow: 0 8px 30px -8px rgba(106,22,59,.6);
}
.btn::before {
	position: absolute;
	border-radius: 10px;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity .3s linear;
  opacity: 0;
  background: linear-gradient(45deg, #8FADB5, #D25796);
}
.btn:hover::before {
	opacity: 1;
}
@media only screen and (max-width: 1024px) {
	.form-left {
		margin: 60px;
	}
}
@media only screen and (max-width: 550px) {
	.form-left {
		margin: 60px 20px;
		flex-direction: column;
		align-items: center;
	}
	.form-left .form-wrapper {
		width: 100%;
	}
	.form-left .cta-wrapper {
		padding: 20px;

	}
}