.to-top-modal {
	position: fixed;
	bottom: 50px;
	right: 50px;
	padding: 30px 32px;
	background: linear-gradient(135deg, #D25796, #8FADB5);
	animation-delay: 3s;
	animation: slideLeftOffScreen 3s 1;
	border-radius: 70px;
	box-shadow: 0 8px 30px -5px rgba(106,22,59,.4);
}
.to-top-modal:hover {
	cursor: pointer;
}
@keyframes slideLeftOffScreen {
	0% {margin-right: -200px;}
	100% {margin-right: 0;}
}
.to-top-modal i {
	color: white;
	font-size: 30px;
}
.full-screen-modal {
	background-color: rgba(0,0,0,.8);
	position: fixed;
	z-index: -99;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.full-screen-modal .display-wrapper {
	background: linear-gradient(135deg, #D25796, #8FADB5);
	padding: 3px;
}
.full-screen-modal .display-wrapper h3,
.full-screen-modal .display-wrapper p {
	color: white;
}

.close-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: flex-end;
	padding: 50px;
}
.close-wrapper i {
	color: white;
	font-size: 30px;
}