.three-box-section {
	display: flex;
	justify-content: center;
	max-width: 1200px;
	margin: 0 auto;
	margin-top: -30px;
}
.three-box-section h2{
	color: white;
	margin: 0;
	font-size: 28px;
	max-width: 200px;
	margin-top: 18px;
	margin-bottom: 18px;
	text-align: center;

}
.three-box-section p {
	color: white;
	margin: 0;
	text-align: center;
}
.three-box-section .box .info-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.three-box-section .box {
	width: 33.33%;
	display: flex;
	flex-direction: column;
	align-items:center;
	border-radius: 15px;
	margin: -100px 25px 0 25px;
	z-index: 2;
	background-color: black;
	min-height: 200px;
	padding: 20px;
	background: linear-gradient(#E86CB1,#792855);
	/*box-shadow: 0 5px 100px -5px rgba(242,48,155,.5);*/
}
.three-box-section .icon svg {
	color: #F2309B!important;
	height: 65px;
	width: 65px;
}
.three-box-section .icon {
	border-radius: 50%;
	height: 120px;
	padding: 12px;
	width: 120px;
	box-shadow: 0 10px 8px 1px rgba(0,0,0,0.2);
	margin-top: -50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
}

@media only screen and (max-width: 768px) {
	.three-box-section .box {
		width: 100%;
		margin: -100px 20px 110px 20px;
	}
	.three-box-section {
		flex-wrap: wrap;
		margin: 0;
	}
}